# Data Cleaning Part 3: Supplementary files
---

In this section, we are going to work on two supplementary files having data on property types and addresses. Remove the duplicated keys('ACCOUNT_NUM') and sorting out relevant columns for our analysis.

In [2]:
import pandas as pd
import numpy as np

In [27]:
# Read from the csv files
df_info = pd.read_csv('./Resources/project1_account_info.csv')
df_res_d = pd.read_csv('./Resources/project1_res_detail.csv')

In [28]:
# Detecting duplicated keys
df_res_d['ACCOUNT_NUM'].value_counts()

28200000000000000    11064
38100000000000000    10948
26300000000000000    10876
26100000000000000    10688
26400000000000000    10507
28100000000000000    10126
16000000000000000     9670
44000000000000000     8301
26500000000000000     8245
42200000000000000     8172
38200000000000000     8137
26600000000000000     7802
26200000000000000     7410
60100000000000000     7239
32400000000000000     6739
38000000000000000     6190
42100000000000000     5786
14100000000000000     5747
20100000000000000     5742
22100000000000000     5072
65100000000000000     4925
32100000000000000     4672
60200000000000000     4577
36100000000000000     4431
18000000000000000     4287
32500000000000000     3966
28000000000000000     3883
32300000000000000     3818
26700000000000000     3639
14000000000000000     3489
                     ...
321609200E0160000        1
75000PFS117537000        1
320614400C0110000        1
380601600J0340000        1
320278400A0110000        1
008721000W0090000        1
160498000A0040000        1
00C80720002414653        1
16006650000F01023        1
320346000F0130000        1
750015600142CAS03        1
002301000C0030000        1
007594000E0150000        1
008813000D0070000        1
380539400D0170000        1
00C08140000000001        1
750005800805DEL03        1
001993000C02C0000        1
160425500N0120000        1
381535900C0020000        1
200997800E0090000        1
380537400A0290000        1
0088210E000380000        1
008292000Q0170000        1
480114100F0080000        1
750010000044RAM04        1
600245100E01A0000        1
60005000000000N83        1
324171300B0090000        1
325402100C0110000        1
Name: ACCOUNT_NUM, Length: 165370, dtype: int64

In [4]:
# Detecting duplicated keys
df_info['ACCOUNT_NUM'].value_counts()

99200300000000000    3648
99000000000000000    2707
60084500000000000    2467
99200200000000000    2318
99200100000000000    2272
99200400000000000    1743
28052500000000000    1737
60218500000000000    1715
99200000000000000    1578
60113500000000000    1521
99191000000000000    1513
38053900000000000    1289
99191100000000000    1172
44022300000000000    1119
99190800000000000    1023
99190900000000000     920
99181100000000000     916
99181000000000000     860
38120500000000000     852
99180800000000000     838
676400000000000       786
26404500000000000     775
65118400000000000     767
44016400000000000     755
16042700000000000     750
16027900000000000     747
99190100000000000     730
99190500000000000     728
28243000000000000     701
26421600000000000     686
                     ...
99L19033700000000       1
180013000B0080000       1
521380000000            1
381037000000            1
160426100C0120000       1
0067870D000050000       1
360011000A0080000       1
321278800C0230000       1
480110600A10B0000       1
814066000000            1
360679000L0220000       1
281245600P0090000       1
75FLE240TX1435400       1
639409000000            1
324825800A0030000       1
221508800M0250000       1
99L18591400000000       1
120622000000            1
369283000000            1
360035000903A0000       1
00C55780000A02215       1
803521000000            1
424543000000            1
689632000000            1
162322000000            1
335524000000            1
180060600C0060000       1
807988000000            1
531106000000            1
151762000000            1
Name: ACCOUNT_NUM, Length: 415588, dtype: int64

In [29]:
df_res = pd.read_csv('./Resources/res_detail.csv')
df_res

,ACCOUNT_NUM,APPRAISAL_YR,TAX_OBJ_ID,BLDG_CLASS_DESC,YR_BUILT,EFF_YR_BUILT,ACT_AGE,DESIRABILITY_RATING,TOT_MAIN_SF,TOT_LIVING_AREA_SF,...,DECK_IND,SPA_IND,POOL_IND,SAUNA_IND,MBL_HOME_SER_NUM,MBL_HOME_MANUFCTR,MBL_HOME_LENGTH,MBL_HOME_WIDTH,MBL_HOME_SPACE,DEPRECIATION_PCT
0,00000244603000000,2020,00000244603000000,13,1952,1972,68,FAIR,1628,1628,...,N,N,N,N,NaN,NaN,0,0,,55.0
1,00000244873000000,2020,00000244873000000,13,1948,2000,72,FAIR,1965,1965,...,N,N,N,N,NaN,NaN,0,0,,35.0
2,00000244975000000,2020,00000244975000000,13,1948,2000,72,VERY GOOD,2519,2519,...,Y,N,N,N,NaN,NaN,0,0,,20.0
3,00000245347000000,2020,00000245347000000,13,1952,1952,68,FAIR,2112,2112,...,Y,N,N,N,NaN,NaN,0,0,,60.0
4,00000244600000000,2020,00000244600000000,13,1951,1951,69,FAIR,1272,1272,...,N,N,N,N,NaN,NaN,0,0,,60.0
5,00000244867000000,2020,00000244867000000,13,1948,1990,72,VERY GOOD,2315,2315,...,N,N,N,N,NaN,NaN,0,0,,30.0
6,00000244807000000,2020,00000244807000000,18,1948,1995,72,VERY GOOD,2499,2499,...,Y,N,N,N,NaN,NaN,0,0,,25.0
7,00000246004000000,2020,00000246004000000,18,1963,1963,57,VERY GOOD,3022,3022,...,Y,Y,Y,N,NaN,NaN,0,0,,40.0
8,00000247138000000,2020,00000247138000000,18,1952,1952,68,VERY GOOD,2073,2073,...,Y,N,N,N,NaN,NaN,0,0,,40.0
9,00000246031000000,2020,00000246031000000,18,1970,1970,50,FAIR,3893,3893,...,N,N,Y,N,NaN,NaN,0,0,,60.0
10,00000246343000000,2020,00000246343000000,18,1961,1990,59,VERY GOOD,2882,2882,...,N,N,N,N,NaN,NaN,0,0,,25.0
11,00000247423000000,2020,00000247423000000,18,1952,1990,68,VERY GOOD,1614,1614,...,N,N,N,N,NaN,NaN,0,0,,30.0
12,00000246337000000,2020,00000246337000000,18,1951,1951,69,FAIR,4086,4086,...,N,N,Y,N,NaN,NaN,0,0,,60.0
13,00000247291000000,2020,00000247291000000,18,1954,1954,66,FAIR,2372,2372,...,N,N,N,N,NaN,NaN,0,0,,60.0
14,00000244594000000,2020,00000244594000000,23,2006,2006,14,GOOD,3758,3758,...,N,N,N,N,NaN,NaN,0,0,,15.0
15,00000244783000000,2020,00000244783000000,23,2006,2006,14,GOOD,4073,4073,...,N,N,N,N,NaN,NaN,0,0,,15.0
16,00000244894000000,2020,00000244894000000,23,2006,2015,14,GOOD,3809,3809,...,N,N,N,N,NaN,NaN,0,0,,10.0
17,00000245746000000,2020,00000245746000000,23,2010,2010,10,GOOD,3951,4645,...,N,N,Y,N,NaN,NaN,0,0,,15.0
18,00000245491000000,2020,00000245491000000,23,2008,2008,12,GOOD,3750,3750,...,N,N,N,N,NaN,NaN,0,0,,15.0
19,00000245647000000,2020,00000245647000000,23,2007,2007,13,GOOD,4579,4579,...,N,N,Y,N,NaN,NaN,0,0,,15.0
20,00000245698000000,2020,00000245698000000,23,2005,2005,15,GOOD,4426,4426,...,N,N,N,N,NaN,NaN,0,0,,20.0
21,00000245710000000,2020,00000245710000000,23,2003,2003,17,GOOD,3197,3197,...,N,N,Y,N,NaN,NaN,0,0,,20.0
22,00000245722000000,2020,00000245722000000,23,2006,2006,14,GOOD,4529,4529,...,N,N,N,N,NaN,NaN,0,0,,20.0
23,00000245758000000,2020,00000245758000000,23,2007,2007,13,GOOD,4774,4774,...,N,N,N,N,NaN,NaN,0,0,,15.0
24,00000245800000000,2020,00000245800000000,23,2006,2006,14,GOOD,4046,4046,...,N,N,Y,N,NaN,NaN,0,0,,20.0
25,00000245254000000,2020,00000245254000000,23,2012,2012,8,GOOD,4558,4558,...,N,N,Y,N,NaN,NaN,0,0,,10.0
26,00000245110000000,2020,00000245110000000,23,2005,2005,15,GOOD,3531,3531,...,N,N,Y,N,NaN,NaN,0,0,,20.0
27,00000245494000000,2020,00000245494000000,23,2008,2008,12,GOOD,4041,4041,...,N,N,N,N,NaN,NaN,0,0,,15.0
28,00000245683000000,2020,00000245683000000,23,2009,2009,11,GOOD,4399,4399,...,N,N,N,N,NaN,NaN,0,0,,15.0
29,00000245824000000,2020,00000245824000000,23,2006,2006,14,GOOD,5017,5017,...,N,N,Y,N,NaN,NaN,0,0,,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660913,18017500000Q00010,2020,18017500000Q00010,CONDOMINIUM,1984,1984,36,GOOD,800,800,...,N,N,N,N,NaN,NaN,0,0,,20.0
660914,180052700G0060000,2020,180052700G0060000,21,1987,1987,33,GOOD,3654,3654,...,N,N,Y,N,NaN,NaN,0,0,,35.0
660915,180052700J0020000,2020,180052700J0020000,21,1989,1989,31,GOOD,3340,3340,...,N,N,N,N,NaN,NaN,0,0,,35.0
660916,18005320030160000,2020,18005320030160000,21,1982,1982,38,GOOD,2675,2821,...,N,N,N,N,NaN,NaN,0,0,,35.0
660917,26082500010010000,2020,26082500010010000,TOWNHOME,1973,1973,47,AVERAGE,1188,1188,...,N,N,N,N,NaN,NaN,0,0,,35.0
660918,200187000G0040000,2020,200187000G0040000,23,1990,1990,30,AVERAGE,4214,4214,...,N,Y,Y,N,NaN,NaN,0,0,,40.0
660919,200187100D0080000,2020,200187100D0080000,23,1998,1998,22,AVERAGE,3713,3713,...,N,N,N,N,NaN,NaN,0,0,,30.0
660920,200295900A0540000,2020,200295900A0540000,16,2004,2004,16,AVERAGE,2080,2080,...,N,N,N,N,NaN,NaN,0,0,,25.0
660921,200295900A0620000,2020,200295900A0620000,16,2003,2003,17,AVERAGE,2666,2666,...,N,N,N,N,NaN,NaN,0,0,,25.0
660922,20005790010230000,2020,20005790010230000,18,1999,1999,21,AVERAGE,3602,3602,...,N,N,N,N,NaN,NaN,0,0,,30.0
660923,20005790020010000,2020,20005790020010000,18,1989,1989,31,AVERAGE,2436,2436,...,N,N,N,N,NaN,NaN,0,0,,40.0
660924,20005800160270000,2020,20005800160270000,18,1989,1989,31,AVERAGE,2563,2563,...,N,N,N,N,NaN,NaN,0,0,,40.0
660925,200149100J0110000,2020,200149100J0110000,18,2004,2004,16,AVERAGE,2656,2656,...,N,N,N,N,NaN,NaN,0,0,,25.0
660926,20021800120020000,2020,20021800120020000,18,1999,1999,21,AVERAGE,2705,2705,...,N,N,N,N,NaN,NaN,0,0,,30.0
660927,20021800120040000,2020,20021800120040000,18,1999,1999,21,AVERAGE,3580,3580,...,N,N,N,N,NaN,NaN,0,0,,30.0
660928,200223800P0210000,2020,200223800P0210000,18,1999,1999,21,AVERAGE,2738,2738,...,Y,Y,Y,N,NaN,NaN,0,0,,30.0
660929,200265200E0100000,2020,200265200E0100000,18,2001,2001,19,AVERAGE,2450,2450,...,N,N,N,N,NaN,NaN,0,0,,25.0
660930,200332700L0110000,2020,200332700L0110000,18,2014,2014,6,EXCELLENT,3376,3376,...,N,N,N,N,NaN,NaN,0,0,,3.0
660931,200332700L0130000,2020,200332700L0130000,18,2014,2014,6,EXCELLENT,4306,4306,...,N,N,N,N,NaN,NaN,0,0,,3.0
660932,200332700M0170000,2020,200332700M0170000,18,2015,2015,5,EXCELLENT,4385,4385,...,N,N,N,N,NaN,NaN,0,0,,0.0
660933,200332700O0130000,2020,200332700O0130000,18,2015,2015,5,EXCELLENT,3929,3929,...,N,N,N,N,NaN,NaN,0,0,,0.0
660934,20034400050100000,2020,20034400050100000,18,2016,2016,4,EXCELLENT,2906,2906,...,N,N,N,N,NaN,NaN,0,0,,0.0
660935,180052400E0050000,2020,180052400E0050000,21,1998,1998,22,AVERAGE,3500,3500,...,N,N,Y,N,NaN,NaN,0,0,,30.0
660936,180069000C0040000,2020,180069000C0040000,21,1990,1990,30,AVERAGE,3449,3449,...,N,Y,Y,N,NaN,NaN,0,0,,40.0
660937,18005320100120000,2020,18005320100120000,21,1983,1983,37,GOOD,2022,2551,...,N,N,Y,N,NaN,NaN,0,0,,35.0
660938,18005340020280000,2020,18005340020280000,21,1988,1988,32,GOOD,2637,2637,...,Y,N,N,N,NaN,NaN,0,0,,35.0
660939,18005340030130000,2020,18005340030130000,21,1994,1994,26,GOOD,2779,2779,...,N,N,Y,N,NaN,NaN,0,0,,30.0
660940,18005340040410000,2020,18005340040410000,21,1994,1994,26,GOOD,2694,2694,...,Y,N,N,N,NaN,NaN,0,0,,30.0
660941,18005340080100000,2020,18005340080100000,21,1993,1993,27,GOOD,2517,2517,...,N,Y,Y,N,NaN,NaN,0,0,,30.0
660942,180053400A0140000,2020,180053400A0140000,21,1998,1998,22,GOOD,2691,2691,...,N,N,N,N,NaN,NaN,0,0,,25.0

In [7]:
df_res['ACCOUNT_NUM'].value_counts()

00000656660100000    18
323775100A0010000    12
322265100A0030000     5
61176500080220000     4
00000802735000000     4
00881700001260000     4
65006145010620000     3
65034156110090000     3
87036550000210000     3
65049912510080001     3
00881600000290000     3
65079851850190000     3
002849000D0080000     3
65051632510100000     2
28052500550070000     2
60045600000370000     2
00000421993000000     2
60152500030030000     2
22080500020190000     2
65127673510100100     2
22080500090170000     2
00877400000020400     2
00000416068000000     2
00000261421000000     2
00883800000060000     2
28221030200510000     2
602185002408A0000     2
00000370087000000     2
00000899850750000     2
60245500000390000     2
                     ..
00000691519000000     1
00669600030720000     1
00000500656000000     1
42255900100090000     1
00000706544600000     1
00000449095000000     1
12006400020110000     1
42130700180050000     1
26654500180110000     1
326063800E0150000     1
65168037510260023     1
28222500020070000     1
00000651343800000     1
20003750030130000     1
440143400A0000100     1
00000391846000000     1
00000635120000000     1
00000440683000000     1
50025500010060100     1
42053500060050000     1
44021700100040000     1
26534500110160000     1
20003600030040000     1
00000811094600000     1
00000821038000000     1
324412500K0210000     1
16032550080060000     1
00000444307000000     1
60261500040020000     1
16010500020260000     1
Name: ACCOUNT_NUM, Length: 660774, dtype: int64

In [8]:
df_res = df_res.drop_duplicates(subset='ACCOUNT_NUM', keep='last')

In [9]:
df_res['ACCOUNT_NUM'].value_counts()

00000741448000000    1
60218500030120000    1
26680410050020000    1
325649700D0310000    1
20070100110120000    1
00000145033000000    1
26112070040250000    1
32443500000220000    1
00C69100000F0F102    1
24021500100010000    1
750609081500CBB98    1
00000820913100000    1
008212000C0110000    1
00C5866DS00S02901    1
180013000B0320000    1
60218500430010000    1
0005030B000040000    1
00000808905920000    1
30000500490150000    1
00000406633000000    1
200175500I0140000    1
00000549856000000    1
20003600020110000    1
180066500A0550000    1
22134600050050000    1
42033500400100000    1
0085790K000020000    1
00000565714000000    1
42195501840150000    1
32188500030040000    1
                    ..
00000651343800000    1
00000454870000000    1
44021700100040000    1
20003600030040000    1
00000811094600000    1
00000821038000000    1
324412500K0210000    1
16032550080060000    1
00000444307000000    1
00000530500000000    1
00000640516640000    1
00000646927000000    1
26270500040220000    1
00000405391920000    1
10000927414920000    1
32559720010090000    1
36092020010010000    1
60027500110210000    1
32532500030010000    1
00000538720000000    1
00659900030020000    1
00000581815000000    1
00000414169000000    1
381204500B0200000    1
32464500070070000    1
24075500060210000    1
26421600050140000    1
00000631645000000    1
28253600040220000    1
16010500020260000    1
Name: ACCOUNT_NUM, Length: 660774, dtype: int64

In [10]:
df_res_d.columns

Index(['ACCOUNT_NUM', 'ACT_AGE', 'TOT_LIVING_AREA_SF', 'NUM_FULL_BATHS',
       'NUM_HALF_BATHS', 'NUM_BEDROOMS'],
      dtype='object')

In [11]:
df_res = df_res[df_res_d.columns]

In [12]:
df_res

,ACCOUNT_NUM,ACT_AGE,TOT_LIVING_AREA_SF,NUM_FULL_BATHS,NUM_HALF_BATHS,NUM_BEDROOMS
0,00000244603000000,68,1628,1,1,3
1,00000244873000000,72,1965,2,0,3
2,00000244975000000,72,2519,3,0,3
3,00000245347000000,68,2112,2,0,3
4,00000244600000000,69,1272,1,0,2
5,00000244867000000,72,2315,3,0,3
6,00000244807000000,72,2499,3,0,3
7,00000246004000000,57,3022,3,1,4
8,00000247138000000,68,2073,3,0,3
9,00000246031000000,50,3893,3,1,4
10,00000246343000000,59,2882,2,1,3
11,00000247423000000,68,1614,2,0,3
12,00000246337000000,69,4086,4,0,4
13,00000247291000000,66,2372,2,1,3
14,00000244594000000,14,3758,3,1,4
15,00000244783000000,14,4073,4,1,4
16,00000244894000000,14,3809,3,1,5
17,00000245746000000,10,4645,3,1,4
18,00000245491000000,12,3750,3,1,4
19,00000245647000000,13,4579,3,2,4
20,00000245698000000,15,4426,4,1,5
21,00000245710000000,17,3197,3,1,4
22,00000245722000000,14,4529,4,1,4
23,00000245758000000,13,4774,4,0,5
24,00000245800000000,14,4046,3,1,4
25,00000245254000000,8,4558,4,0,4
26,00000245110000000,15,3531,3,1,4
27,00000245494000000,12,4041,3,1,4
28,00000245683000000,11,4399,4,1,5
29,00000245824000000,14,5017,4,3,4
...,...,...,...,...,...,...
660913,18017500000Q00010,36,800,1,0,1
660914,180052700G0060000,33,3654,3,0,4
660915,180052700J0020000,31,3340,4,0,4
660916,18005320030160000,38,2821,2,0,3
660917,26082500010010000,47,1188,2,0,2
660918,200187000G0040000,30,4214,5,1,4
660919,200187100D0080000,22,3713,3,1,4
660920,200295900A0540000,16,2080,2,0,4
660921,200295900A0620000,17,2666,2,1,4
660922,20005790010230000,21,3602,3,1,5
660923,20005790020010000,31,2436,2,1,4
660924,20005800160270000,31,2563,2,1,4
660925,200149100J0110000,16,2656,3,1,5
660926,20021800120020000,21,2705,2,1,4
660927,20021800120040000,21,3580,3,1,5
660928,200223800P0210000,21,2738,3,0,4
660929,200265200E0100000,19,2450,2,1,3
660930,200332700L0110000,6,3376,3,1,4
660931,200332700L0130000,6,4306,4,0,5
660932,200332700M0170000,5,4385,4,0,4
660933,200332700O0130000,5,3929,4,0,5
660934,20034400050100000,4,2906,2,1,4
660935,180052400E0050000,22,3500,3,0,4
660936,180069000C0040000,30,3449,3,1,4
660937,18005320100120000,37,2551,2,0,3
660938,18005340020280000,32,2637,3,0,4
660939,18005340030130000,26,2779,3,0,4
660940,18005340040410000,26,2694,3,0,4
660941,18005340080100000,27,2517,2,1,4
660942,180053400A0140000,22,2691,3,0,3

In [13]:
df_res['ACCOUNT_NUM'].value_counts()

00000741448000000    1
60218500030120000    1
26680410050020000    1
325649700D0310000    1
20070100110120000    1
00000145033000000    1
26112070040250000    1
32443500000220000    1
00C69100000F0F102    1
24021500100010000    1
750609081500CBB98    1
00000820913100000    1
008212000C0110000    1
00C5866DS00S02901    1
180013000B0320000    1
60218500430010000    1
0005030B000040000    1
00000808905920000    1
30000500490150000    1
00000406633000000    1
200175500I0140000    1
00000549856000000    1
20003600020110000    1
180066500A0550000    1
22134600050050000    1
42033500400100000    1
0085790K000020000    1
00000565714000000    1
42195501840150000    1
32188500030040000    1
                    ..
00000651343800000    1
00000454870000000    1
44021700100040000    1
20003600030040000    1
00000811094600000    1
00000821038000000    1
324412500K0210000    1
16032550080060000    1
00000444307000000    1
00000530500000000    1
00000640516640000    1
00000646927000000    1
26270500040220000    1
00000405391920000    1
10000927414920000    1
32559720010090000    1
36092020010010000    1
60027500110210000    1
32532500030010000    1
00000538720000000    1
00659900030020000    1
00000581815000000    1
00000414169000000    1
381204500B0200000    1
32464500070070000    1
24075500060210000    1
26421600050140000    1
00000631645000000    1
28253600040220000    1
16010500020260000    1
Name: ACCOUNT_NUM, Length: 660774, dtype: int64

In [15]:
df_res.to_csv('./Resources/res_detail_new.csv', index=False)

In [30]:
df_info_new = pd.read_csv('./Resources/account_info.csv')
df_info_new

,ACCOUNT_NUM,APPRAISAL_YR,DIVISION_CD,BIZ_NAME,OWNER_NAME1,OWNER_NAME2,EXCLUDE_OWNER,OWNER_ADDRESS_LINE1,OWNER_ADDRESS_LINE2,OWNER_ADDRESS_LINE3,...,LEGAL1,LEGAL2,LEGAL3,LEGAL4,LEGAL5,DEED_TXFR_DATE,GIS_PARCEL_ID,PHONE_NUM,LMA,IMA
0,99200006100217400,2020,BPP,EPLUS GROUP INC,EPLUS GROUP INC,NaN,N,TAX DEPT,M/S 239,13595 DULLES TECHNOLOGY DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
1,99821070000050500,2020,BPP,ELEMENT FLEET CORPORATION,ELEMENT FLEET CORPORATION,NaN,N,PERSONAL PROPERTY TAX,NaN,PO BOX 13085,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
2,99860020000719950,2020,BPP,DE LAGE LANDEN FIN SVCS INC,DELAGE LANDEN FINANCIAL SVCS INC,NaN,N,ATTN CORPORATE TAX,NaN,1111 OLD EAGLE SCHOOL RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
3,99860020000743650,2020,BPP,STATE FARM MUTUAL AUTOMOB,STATE FARM MUTUAL AUTOMOB,NaN,N,%CORP TAX DEPT ECHO,NaN,1 STATE FARM PLZ #D3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
4,99980280000102350,2020,BPP,CROWN CREDIT CO,CROWN CREDIT CO,NaN,N,NaN,NaN,2 NORTH FRANKLIN STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
5,99L15745600000000,2020,BPP,NCR CORPORATION,NCR CORPORATION,NaN,N,PROPERTY TAX DEPT,NaN,464 SPRING ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
6,99881180000055650,2020,BPP,SCANTRON CORP,SCANTRON CORP,NaN,N,ATTENTION TAX DEPARTMENT,NaN,15955 LA CANTERA PARKWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
7,99980370000004400,2020,BPP,RAYMOND LEASING CORP,RAYMOND LEASING CORP,NaN,N,COPORPATE HEADQUARTERS,NaN,22 S CANAL ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
8,99L16669600000000,2020,BPP,FP MAILING SOLUTIONS,FP MAILING SOLUTIONS,NaN,N,NaN,SUITE 200,140 N MITCHELL CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
9,99L05175400000000,2020,BPP,ROYAL CUP INC,ROYAL CUP INC,NaN,N,NaN,NaN,PO BOX 170971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
10,99L07850800000000,2020,BPP,CISCO SYSTEMS CAPITAL COR,CISCO SYSTEMS CAPITAL COR,NaN,N,NaN,NaN,170 W TASMAN DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
11,99L17696300000000,2020,BPP,CHASE AUTO FINANCE,JP MORGAN CHASE BANK NA,NaN,N,PPTY TAX UNIT OH1-1055,NaN,1111 POLARIS PKWY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
12,99L08363500000000,2020,BPP,DAIMLER TRUST,DAIMLER TRUST,NaN,N,NaN,NaN,36455 CORPORATE DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
13,99990220000005450,2020,BPP,NISSAN INFI LS TRUST,NISSAN MOTOR ACCEPT CORP,NaN,N,TAX OPERATIONS,NaN,PO BOX 650214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
14,99200006100112450,2020,BPP,NORTHERN LEASING SYSTEMS,NORTHERN LEASING SYSTEMS,NaN,N,PROPERTY TAX DEPARTMENT,15TH FLOOR,525 WASHINGTON BLVD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
15,99901020000015000,2020,BPP,PITNEY BOWES INC,PITNEY BOWES INC,NaN,N,MSC TAX 01,SUITE 110,5310 CYPRESS CENTER DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
16,99L05184800000000,2020,BPP,RS WATER HOLDING LLC,RS WATER HOLDING LLC,NaN,N,NaN,SUITE 300,3201 PREMIER DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
17,99L08498500000000,2020,BPP,BALBOA CAPITAL CORP,BALBOA CAPITAL CORP,NaN,N,NaN,12TH FLOOR,575 ANTON BLVD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
18,99L05176100000000,2020,BPP,ROYAL CUP INC,ROYAL CUP INC,NaN,N,NaN,NaN,PO BOX 170971,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
19,99910850000066150,2020,BPP,JOHNSON CONTROLS SECURITY SOL LLC,JOHNSON CONTROLS SECURITY SOL LLC,NaN,N,PROPERTY TAX DEPT,NaN,PO BOX 5006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
20,99L16543900000000,2020,BPP,AMES TAPING TOOLS,AXIA ACQUISITION CORP,NaN,N,NaN,SUITE 400,1327 NORTHBROOK PARKWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
21,99L16860000000000,2020,BPP,STOROPACK INC,STOROPACK INC,NaN,N,NaN,NaN,4758 DEVITT DRIVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
22,99L09299600000000,2020,BPP,RESTAURANT TECHNOLOGIES INC,RESTAURANT TECHNOLOGIES INC,NaN,N,NaN,SUITE 100,2250 PILOT KNOB RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
23,99L16135200000000,2020,BPP,TOSHIBA GLOBAL COMMERCE SOL,TOSHIBA GLOBAL COMMERCE SOL,NaN,N,NaN,NaN,3901 S MIAMI BLVD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
24,99971150000159500,2020,BPP,FEDERAL EXPRESS CORP,FEDERAL EXPRESS CORP,NaN,N,BLDG C 3RD FLOOR,TAX DEPT (PERSONAL),3630 HACKS CROSS RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,UNASSIGNED,NaN
25,99L14336300000000,2020,BPP,FARMERS BROS CO,FARMERS BROS CO,NaN,N,TAX DEPT,NaN,1912 FARMER BROTHERS DR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
26,99932280000135950,2020,BPP,IGT GLOBAL SOLUTIONS CORP,IGT GLOBAL SOLUTIONS CORP,NaN,N,NaN,NaN,10 MEMORIAL BLVD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
27,99L11242000000000,2020,BPP,NIELSEN AUDIO INC,THE NIELSON COMPANY US LLC,NaN,N,NaN,NaN,40 DANBURY ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
28,99L06197800000000,2020,BPP,BANC OF AMER LSG CAP LLC,BANC OF AMER LSG CAP LLC,NaN,N,TAX DEPT GA3-003-03-01,NaN,PO BOX 105578,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
29,99L07692000000000,2020,BPP,WATERMILL EXPRESS INC,WATERMILL EXPRESS INC,NaN,N,NaN,NaN,1177 S 4TH AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UNASSIGNED,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839962,00000126370000001,2020,RES,NaN,ARELLANO JOSE I,NaN,N,NaN,4530 E SIDE AVE,NaN,...,MRS S E SKINNERS,BLK 801 LT 3,1/2 FOURPLEX- DOWNSTAIRS,VOL99069/6030 DD03311999 CO-DC,0801 000 003 1000801 000,04/09/1999,00000126370000000,NaN,UNASSIGNED,UNASSIGNED
839963,00000126790000000,2020,RES,NaN,ESCUADRAESTRADA HERLINDA &,NaN,N,NIETO HILARIO,308 ALCALDE ST,NaN,...,QUEEN CITY,BLK E/802-1/2 LOT 14,NaN,INT201300094335 DD03222013 CO-DC,0802200E 01400 1000802200E,03/27/2013,00000126790000000,NaN,UNASSIGNED,UNASSIGNED
839964,00000127081000000,2020,COM,4308 EAST SIDE,GUERRERO JUAN &,NaN,N,NaN,4308 EAST SIDE AVENUE,NaN,...,BLK 805-1/2,49.25X150 EAST SIDE 104FR PEAK,NaN,INT201200104084 DD04062012 CO-DC,08052000 00000 10008052000,04/11/2012,00000127081000000,NaN,1DSJ10,UNASSIGNED
839965,00000127189000000,2020,COM,VACANT,JGT HOLDINGS LLC,NaN,N,NaN,4464 SIGMA RD STE 150,NaN,...,BROWDERS PROVIDENCE,BLK 4/806 LT 7,NaN,INT201900218328 DD08162019 CO-DC,0806 004 00700 1DA0806 004,08/19/2019,00000127189000000,NaN,1DSJ10,UNASSIGNED
839966,00000492823500000,2020,RES,NaN,LOVING NANCY EST OF,NaN,N,NaN,1706 WHITEDOVE DR,NaN,...,OAK PARK ESTATES 7,BLK 1/6036 LT 11,NaN,VOL88188 PG0827 CO-DC,6036 001 01100 2006036 001,09/27/1988,00000492823500000,NaN,UNASSIGNED,UNASSIGNED
839967,00000493882000000,2020,RES,NaN,CORONILLA JOSEPH CRUZ &,NaN,N,ANNABEL,3863 RUGGED CIR,NaN,...,OAK PARK ESTATES 4,BLK 14/6036 LT 10,NaN,VOL2003088/3685 DD04212003 CO-DC,6036 014 01000 2006036 014,05/01/2003,00000493882000000,NaN,UNASSIGNED,UNASSIGNED
839968,00000494773000000,2020,RES,NaN,GARCIA MARISOL LEONOR,NaN,N,NaN,2548 BONNYWOOD LN,NaN,...,KIESTWOOD ESTATES,BLK 5/6038 LT 7,NaN,INT201200278574 DD09142012 CO-DC,6038 005 00700 2006038 005,09/19/2012,00000494773000000,NaN,UNASSIGNED,UNASSIGNED
839969,00000495349000000,2020,RES,NaN,WRIGHT CAROLYN E,NaN,N,NaN,2414 CROW CREEK DR,NaN,...,HIGHLANDWOOD ACRES 2,BLK B/6040 LT 2,NaN,VOL2003022/7177 DD11212000 CO-DC,6040 00B 002 2006040 00B,02/03/2003,00000495349000000,NaN,UNASSIGNED,UNASSIGNED
839970,00000498292000000,2020,RES,NaN,DOMINGUEZ BLANCA E & KAREN,NaN,N,NaN,4002 DORCHESTER DR,NaN,...,CAMP WISDOM ESTATES,BLK C/6047 LT 8,NaN,INT201500340848 DD11172015 CO-DC,6047 00C 00800 2006047 00C,12/29/2015,00000498292000000,NaN,UNASSIGNED,UNASSIGNED
839971,00000499672000000,2020,COM,STRAIGHTWAY PENETECOSTAL CATHEDRAL,STRAIGHTWAY PENTECOSTAL CATHEDRAL,NaN,N,NaN,1121 REYNOLDSTON LN,NaN,...,OAKWOOD CHRISTIAN CHURCH,BLK 1/6048 LT 1,REYNOLDSTON CHESHIRE & POLK,VOL95213/1554 DD102595 CO-DALLAS,6048 001 00100 2006048 001,10/31/1995,00000499672000000,NaN,2DSN6D,UNASSIGNED
839972,00000501223000000,2020,RES,NaN,YOUNG GWENDOLYN THOMPSON,NaN,N,NaN,4407 ALAMOSA DR,NaN,...,CLUB OAKS INST 2,BLK 1/6049 LT 21,NaN,VOL2004005/16324 DD07201994 CO-DC,6049 001 02100 2006049 001,01/08/2004,00000501223000000,NaN,UNASSIGNED,UNASSIGNED
839973,00000501973000000,2020,RES,NaN,S & G LP,NaN,N,NaN,1712 THROWBRIDGE LN,NaN,...,CLUB OAKS 1,BLK 11/6049 LT 15,NaN,INT201200276770 DD09142012 CO-DC,6049 011 01500 2006049 011,09/18/2012,00000501973000000,NaN,UNASSIGNED,UNASSIGNED
839974,00000502501000000,2020,COM,SMITH TRANSPORTATION,2227 VANTAGE LLC,NaN,N,NaN,8350 N CENTRAL EXPWY STE 1750,NaN,...,TRINITY INDUSTRIAL DISTRICT 18,BLK 62/6055 W PT LT 5,NaN,INT202000059563 DD02282020 CO-DC,6055 062 00500 2006055 062,03/02/2020,00000502501000000,NaN,1DSI06,110200
839975,00000503440000000,2020,RES,NaN,POPE SYLVIA EST OF,NaN,N,NaN,1538 MADRID ST,NaN,...,CEDAR CREST VILLAGE 1,BLK D/6075 LT 8,NaN,NaN,6075 00D 008 2006075 00D,NaN,00000503440000000,NaN,UNASSIGNED,UNASSIGNED
839976,00000507190000000,2020,RES,NaN,IBARRA ANTONIO,NaN,N,NaN,2810 EXETER AVE,NaN,...,SOUTHGATE 1,BLK 4/6081 LT 11,NaN,VOL2001075/6532 DD02152001 CO-DC,6081 004 01100 2006081 004,04/17/2001,00000507190000000,NaN,UNASSIGNED,UNASSIGNED
839977,00000507358000000,2020,RES,NaN,BERNABE MARIA REYNA ROBLES,NaN,N,NaN,2663 WILHURT AVE,NaN,...,SOUTHGATE ANNEX 1 REV,BLK 6/6081 LT 10,NaN,INT201100296785 DD11102011 CO-DC,6081 006 01000 2006081 006,11/10/2011,00000507358000000,NaN,UNASSIGNED,UNASSIGNED
839978,00000508336000000,2020,RES,NaN,MANNING BERTRIC L,NaN,N,NaN,1451 CAPE CODE DR,NaN,...,CITY VIEW,BLK 2/6083 LT 17,NaN,INT201200142193 DD05162012 CO-DC,6083 002 01700 2006083 002,05/17/2012,00000508336000000,NaN,UNASSIGNED,UNASSIGNED
839979,00000508786000000,2020,RES,NaN,GLOBAL PEAK LLC,NaN,N,NaN,2001 COIT RD # 206,NaN,...,R M HURTS,BLK 1/6084 LT 16,NaN,INT200900357019 DD12182009 CO-DC,6084 001 01600 2006084 001,12/23/2009,00000508786000000,NaN,UNASSIGNED,UNASSIGNED
839980,00000509212000000,2020,RES,NaN,TORRE JORGE DELA,NaN,N,NaN,1849 MORROW,NaN,...,HONEY CREST HEIGHTS,BLK B/6086 LT 31,NaN,INT201500320305 DD10222015 CO-DC,6086 00B 031 2006086 00B,12/03/2015,00000509212000000,NaN,UNASSIGNED,UNASSIGNED
839981,00000233536000000,2020,RES,NaN,GARDINER BRUCE H & LINDA J,NaN,N,NaN,6327 MONTICELLO AVE,NaN,...,LAKEVIEW HEIGHTS,BLK 3C/2848 LT 6,NaN,INT201600046749 DD02192016 CO-DC,2848 03C 00600 1002848 03C,02/23/2016,00000233536000000,NaN,UNASSIGNED,UNASSIGNED
839982,00000233602000000,2020,RES,NaN,BUMPASS CHARLES A JR & LEXY A SPITZER,NaN,N,NaN,6163 MARQUITA AVE,NaN,...,BLK D/2848 AKA 3D/2848,LT 14,NaN,INT201400151616 DD06162014 CO-DC,2848 00D 01400 1002848 00D,06/18/2014,00000233602000000,NaN,UNASSIGNED,UNASSIGNED
839983,00000239293000000,2020,RES,NaN,EVERMAN DELIA,NaN,N,NaN,5408 LONGVIEW ST,NaN,...,INTERURBAN HILL,BLK V/2924 LT 7,NaN,VOL2004104/14451 DD05192004 CO-DC,2924 00V 007 1002924 00V,05/27/2004,00000239293000000,NaN,UNASSIGNED,UNASSIGNED
839984,00000509410000000,2020,RES,NaN,MANSION EDGAR J EST OF,NaN,N,NaN,2721 CANARY DR,NaN,...,HONEY CREST HEIGHTS,BLK D/6086 LT 32,NaN,VOL2000043/8250 DD02292000 CO-DC,6086 00D 032 2006086 00D,03/02/2000,00000509410000000,NaN,UNASSIGNED,UNASSIGNED
839985,00000510052000000,2020,RES,NaN,PEREZ JUAN ANTONIO JR,NaN,N,NaN,1608 RANCH TRAIL RD,NaN,...,BONNIE VIEW GARDENS,BLK E/6088 LOT 13,NaN,INT201600344691 DD05012105 CO-DC,6088 00E 01300 2006088 00E,12/09/2016,00000510052000000,NaN,UNASSIGNED,UNASSIGNED
839986,00000511693000000,2020,COM,VACANT,CHILDERS ROBERT,NaN,N,NaN,21143 COUNTY ROAD 451,NaN,...,HONEY SPRINGS GARDENS,BLK A/6096 LT 5,NaN,NaN,6096 00A 005 2DA6096 00A,NaN,00000511693000000,NaN,2DSN10,UNASSIGNED
839987,00000511876000000,2020,COM,VACANT,LOGAN OLIVE LENA,NaN,N,NaN,115 CUMBERLAND DR,NaN,...,R H DEFACE,BLK D/6096 LOT9D,NaN,VOL91242/3633 EX110191 CO-DC,6096 00D 09D00 2DA6096 00D,01/29/1992,00000511876000000,NaN,2DSN10,UNASSIGNED
839988,00000515854000000,2020,RES,NaN,RACO GREGORY E,NaN,N,NaN,5611 MEADOWICK LN,NaN,...,BUCKNER TERRACE 1,BLK C/6128 LT 42,NaN,INT201900120504 DD05092019 CO-DC,6128 00C 04200 3DA6128 00C,05/10/2019,00000515854000000,NaN,UNASSIGNED,UNASSIGNED
839989,00000515881000000,2020,RES,NaN,VALENZUELA MICHAEL ANTHONY,NaN,N,NaN,5606 MEADOWICK LN,NaN,...,BUCKNER TERRACE 1,BLK D/6128 LT 8,NaN,INT201500139785 DD05202015 CO-DC,6128 00D 00800 3DA6128 00D,06/01/2015,00000515881000000,NaN,UNASSIGNED,UNASSIGNED
839990,00000516454500000,2020,RES,NaN,WALKER JAMIE O &,NaN,N,WALKER ALTA EST OF,5633 EMROSE TER,NaN,...,EVERGALDE PARK 3,BLK 6/6128 LT 26,NaN,INT200600069966 DD02162006 CO-DC,6128 006 02600 3DA6128 006,02/24/2006,00000516454500000,NaN,UNASSIGNED,UNASSIGNED
839991,00000518437000000,2020,RES,NaN,ARREDONDO MARIO C &,NaN,N,LISA E RAINEY,9735 BLUFF DALE DR,NaN,...,LAKE TERRACE,BLKS J/6133 LT 4 & 6133 PT LT 2,ACS 0.4049,VOL96157/4417 DD080296 CO-DALLAS,6133 00J 00400 3DA6133 00J,08/12/1996,00000518437000000,NaN,UNASSIGNED,UNASSIGNED

In [31]:
df_info_new['ACCOUNT_NUM'].value_counts()

99170725300000000    1
120058000E0230000    1
16032550060440000    1
65092574010050100    1
36087900030200000    1
00000247297000000    1
44022800010270000    1
00000226087000000    1
20044500140050000    1
26417500000230000    1
220969100T0140000    1
28248500030160000    1
0021M630000A01206    1
360179000A0010000    1
480050500D0200000    1
14022500070100000    1
00000598177000000    1
38236500210030000    1
00000443884000000    1
00000192910000000    1
22139500020090000    1
32130500110010000    1
120654000B0140000    1
180013500B0050000    1
32547590000M00152    1
32338500050010000    1
99000000215730500    1
26312500010060000    1
99000000216928900    1
00000238846000000    1
                    ..
38126500100130000    1
28048000030210000    1
00000820402680000    1
00000899727200000    1
00000254239000000    1
00000614503000000    1
26583500080120000    1
99190214100000000    1
00000758026000000    1
99170919180000000    1
44022880020240100    1
12060050001250000    1
00000449827000000    1
32581500020030000    1
00000250648000000    1
16042870010050000    1
00000279706000000    1
24098500130370000    1
28DFW00000MR10975    1
99200324700289900    1
00000538639000000    1
00000173671000000    1
22051200010250000    1
00000674323000000    1
26080840070180000    1
00000585238000000    1
44022280100160000    1
50030500020120000    1
00000808153000000    1
16010500020260000    1
Name: ACCOUNT_NUM, Length: 839992, dtype: int64

In [32]:
df_info_new = df_info_new[df_info.columns]

In [33]:
df_info_new

,ACCOUNT_NUM,STREET_NUM,FULL_STREET_NAME,BLDG_ID,UNIT_ID,PROPERTY_CITY,PROPERTY_ZIPCODE
0,99200006100217400,54325,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
1,99821070000050500,34000,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
2,99860020000719950,51000,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
3,99860020000743650,72200,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
4,99980280000102350,22175,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
5,99L15745600000000,1000010,LEASED EQP,NaN,NaN,NaN,NaN
6,99881180000055650,67800,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
7,99980370000004400,64620,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
8,99L16669600000000,32625,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
9,99L05175400000000,66300,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
10,99L07850800000000,17200,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
11,99L17696300000000,1000010,LEASED EQP,NaN,NaN,NaN,NaN
12,99L08363500000000,23225,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
13,99990220000005450,58010,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
14,99200006100112450,58700,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
15,99901020000015000,62800,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
16,99L05184800000000,22904,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
17,99L08498500000000,1000010,LEASED EQP,NaN,NaN,NaN,NaN
18,99L05176100000000,1000010,LEASED EQP,NaN,NaN,NaN,NaN
19,99910850000066150,4200,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
20,99L16543900000000,5100,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
21,99L16860000000000,1000010,LEASED EQP,NaN,NaN,NaN,NaN
22,99L09299600000000,49220,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
23,99L16135200000000,1000010,LEASED EQP,NaN,NaN,NaN,NaN
24,99971150000159500,28900,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
25,99L14336300000000,28700,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
26,99932280000135950,36666,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
27,99L11242000000000,5572,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
28,99L06197800000000,71100,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
29,99L07692000000000,81800,LEASED EQUIPMENT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
839962,00000126370000001,4530,EAST SIDE AVE,NaN,NaN,DALLAS,752261078.0
839963,00000126790000000,308,ALCALDE ST,NaN,NaN,DALLAS,752461352.0
839964,00000127081000000,4308,EAST SIDE AVE,NaN,NaN,DALLAS,752261105.0
839965,00000127189000000,4118,WILLOW ST,NaN,NaN,DALLAS,75226.0
839966,00000492823500000,1706,WHITEDOVE DR,NaN,NaN,DALLAS,752244808.0
839967,00000493882000000,3863,RUGGED CIR,NaN,NaN,DALLAS,752244173.0
839968,00000494773000000,2548,BONNYWOOD LN,NaN,NaN,DALLAS,752332804.0
839969,00000495349000000,2414,CROW CREEK DR,NaN,NaN,DALLAS,752333306.0
839970,00000498292000000,6923,RICHWOOD DR,NaN,NaN,DALLAS,752372837.0
839971,00000499672000000,1121,REYNOLDSTON LN,NaN,NaN,DALLAS,752322405.0
839972,00000501223000000,4407,ALAMOSA DR,NaN,NaN,DALLAS,752321001.0
839973,00000501973000000,4827,DOVE CREEK WAY,NaN,NaN,DALLAS,752321409.0
839974,00000502501000000,2227,VANTAGE ST,NaN,NaN,DALLAS,752076101.0
839975,00000503440000000,1538,MADRID ST,NaN,NaN,DALLAS,752163202.0
839976,00000507190000000,2810,EXETER DR,NaN,NaN,DALLAS,752166602.0
839977,00000507358000000,2663,WILHURT AVE,NaN,NaN,DALLAS,752166513.0
839978,00000508336000000,4317,CARDINAL DR,NaN,NaN,DALLAS,752166525.0
839979,00000508786000000,4318,CICERO ST,NaN,NaN,DALLAS,752166643.0
839980,00000509212000000,2807,EAGLE DR,NaN,NaN,DALLAS,752164714.0
839981,00000233536000000,6327,MONTICELLO AVE,NaN,NaN,DALLAS,752143307.0
839982,00000233602000000,6163,MARQUITA AVE,NaN,NaN,DALLAS,752143323.0
839983,00000239293000000,5415,LONGVIEW ST,NaN,NaN,DALLAS,752065605.0
839984,00000509410000000,2721,CANARY DR,NaN,NaN,DALLAS,752164728.0
839985,00000510052000000,3327,FORDHAM RD,NaN,NaN,DALLAS,752164824.0
839986,00000511693000000,3919,SHINDOLL ST,NaN,NaN,DALLAS,752164027.0
839987,00000511876000000,3921,OVERTON CT,NaN,NaN,DALLAS,75216.0
839988,00000515854000000,5611,MEADOWICK LN,NaN,NaN,DALLAS,752271525.0
839989,00000515881000000,5606,MEADOWICK LN,NaN,NaN,DALLAS,752271524.0
839990,00000516454500000,5633,EMROSE TERRACE,NaN,NaN,DALLAS,752272952.0
839991,00000518437000000,9735,BLUFF DALE DR,NaN,NaN,DALLAS,752182141.0

In [34]:
df_info_new['ACCOUNT_NUM'].value_counts()

99170725300000000    1
120058000E0230000    1
16032550060440000    1
65092574010050100    1
36087900030200000    1
00000247297000000    1
44022800010270000    1
00000226087000000    1
20044500140050000    1
26417500000230000    1
220969100T0140000    1
28248500030160000    1
0021M630000A01206    1
360179000A0010000    1
480050500D0200000    1
14022500070100000    1
00000598177000000    1
38236500210030000    1
00000443884000000    1
00000192910000000    1
22139500020090000    1
32130500110010000    1
120654000B0140000    1
180013500B0050000    1
32547590000M00152    1
32338500050010000    1
99000000215730500    1
26312500010060000    1
99000000216928900    1
00000238846000000    1
                    ..
38126500100130000    1
28048000030210000    1
00000820402680000    1
00000899727200000    1
00000254239000000    1
00000614503000000    1
26583500080120000    1
99190214100000000    1
00000758026000000    1
99170919180000000    1
44022880020240100    1
12060050001250000    1
00000449827000000    1
32581500020030000    1
00000250648000000    1
16042870010050000    1
00000279706000000    1
24098500130370000    1
28DFW00000MR10975    1
99200324700289900    1
00000538639000000    1
00000173671000000    1
22051200010250000    1
00000674323000000    1
26080840070180000    1
00000585238000000    1
44022280100160000    1
50030500020120000    1
00000808153000000    1
16010500020260000    1
Name: ACCOUNT_NUM, Length: 839992, dtype: int64

In [35]:
df_info_new.to_csv('./Resources/account_info_new.csv', index=False)